<html>
<% include head %>
    <body>
        <div class="container-fluid" style="padding-top:50px">
            <div class="row">
                <div class="col-md-4 col-md-push-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Create Account</h4>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" method="post">
                              <div class="form-group">
                                  <label for="passcodeTextBox" class="col-md-4 control-label">Passcode</label>
                                  <div class="col-md-8">
                                      <input type="text" class="form-control" name="passcodeTextBox" id="passcodeTextBox" />
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label for="userIDTextBox" class="col-md-4 control-label">UserID</label>
                                  <div class="col-md-8">
                                      <input type="text" class="form-control" name="userIDTextBox" id="userIDTextBox" />
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label for="passwordTextBox" class="col-md-4 control-label">Password</label>
                                  <div class="col-md-8">
                                      <input type="password" class="form-control" name="passwordTextBox" id="passwordTextBox" />
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label for="emailTextBox" class="col-md-4 control-label">Email</label>
                                  <div class="col-md-8">
                                      <input type="text" class="form-control" name="emailTextBox" id="emailTextBox" />
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label for="nicknameTextBox" class="col-md-4 control-label">Nick Name</label>
                                  <div class="col-md-8">
                                      <input type="text" class="form-control" name="nicknameTextBox" id="nicknameTextBox" />
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-md-offset-4 col-md-8">
                                      <button type="submit" class="btn btn-default">Create Account</button>
                                  </div>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
